body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: #f0f0f0;
    overflow: visible;
}


.Htitle{
    margin: 40px;
}
.box1 {
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: red;
}

.box2 {
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: blue;
}

.box3 {
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: green;

}

.content{
    text-align: center;
    margin-top: 90px;
    color: white;
}

/*Header style */


.btn-primary{
    color: rgb(255,255,255);
    background: rgb(79,191,168);
    border-color: rgb(65,179,156);
}




hr{
 margin-top: 0px;
}


.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 0px;
    text-align: center;
  }
.goodalert{
    padding: 20px;
    background-color:green; /* Red */
    color: white;
    margin-bottom: 0px;
    text-align: center;
}

@font-face{
    font-family: 'TitleFont';
    src: url("/Font/Bungee/BungeeLine.eot");
    src: url("/Font/Bungee/BungeeLine.woff2") format('woff2'),
         url("/Font/Bungee/BungeeLine.woff") format('woff'),
         url("/Font/Bungee/BungeeLine.ttf") format('truetype');
    font-style: normal;
}

@font-face{
    font-family: 'ParagFont';
    src: url("/Font/Roboto/Roboto-Regular.eot");
    src: url("/Font/Roboto/Roboto-Regular.woff2") format('woff2'),
         url("/Font/Roboto/Roboto-Regular.woff") format('woff'),
         url("/Font/Roboto/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
}
/*Menu sur le coté style */

.borderMod{
 border-radius: 10%;
}

/*Panier Style*/

