body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: #f0f0f0;
    overflow: visible;
}


.Htitle{
    margin: 40px;
}

.vl{
    border-left: 6px solid;
    height: 500px;
}

/*vv Simplifier ce truc vv */
.box{
    border: 10px solid black;
    width: 200px;
    height: 200px;
}
.box1{
    padding: 20px;
    background-color: red;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: auto;
}

.box2{
    padding: 20px;
    background-color: blue;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: auto;
}

.box3{
    padding: 20px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: auto;
}

.box1:hover{
    transform: scale(1.5);
}
.box2:hover{
    transform: scale(1.5);
}
.box3:hover{
    transform: scale(1.5);
}
.content{
    text-align: center;
    margin-top: 90px;
    color: white;
}
.card{
    margin-top: 3%;

}
/*^^ Simplifier ce truc ^^ */

/*Header style */


.btn-primary{
    color: rgb(255,255,255);
    background: rgb(79,191,168);
    border-color: rgb(65,179,156);
}




hr{
 margin-top: 0px;
}


.alert {
    padding: 20px;
    background-color: red;
    color: white;
    margin-bottom: 0px;
    text-align: center;
  }
.goodalert{
    padding: 20px;
    background-color:green; 
    color: white;
    margin-bottom: 0px;
    text-align: center;
}

@font-face{
    font-family: 'TitleFont';
    src: url("BungeeLine.eot");
    src: url("BungeeLine.woff2") format('woff2'),
         url("BungeeLine.woff") format('woff'),
         url("BungeeLine.ttf") format('truetype');
    font-style: normal;
}

@font-face{
    font-family: 'ParagFont';
    src: url("Roboto-Regular.eot");
    src: url("Roboto-Regular.woff2") format('woff2'),
         url("Roboto-Regular.woff") format('woff'),
         url("Roboto-Regular.ttf") format('truetype');
    font-style: normal;
}
/*Menu sur le coté style */

.borderMod{
 border-radius: 10%;
}

/*Panier Style*/

