body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: #f0f0f0;
    overflow: visible;
}

.shopping-body{
    overflow: scroll;
}

.panier-body{
    overflow: scroll;
}

/* Top Menu Style 
#top{
    background: #555555;
    padding: 10px 0;
}

#top .offer{
    color: #ffffff;
}

#top .offer .btn{
    text-transform: uppercase;
}

@media(max-width: 991px){
    #top .offer {
        margin-bottom: 10px;
    }
}
@media(max-width: 1991px){
    #top{
        font-size: 12px;
        text-align: center;
    }
}
#top a{
    color: #ffffff;
}
#top ul.menu{
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    list-style: none;
}
/*
@media(max-width: 1951px){
    #top ul.menu{
        text-align: center;
    }
    #top ul.menu> li{
        display: inline-block;
    }
    
    #top ul.menu> li a{
        color: #eeeeee;
    }
    
    #top ul.menu>li + li:before{
        content: "|\00a0";
        color: #f7f7f7;
        padding: 0px 5px;
    }
}
/*
@media(max-width: 1551px){
    #top ul.menu{
        text-align: center;
    }
    #top ul.menu> li{
        display: inline-block;
    }

    #top ul.menu> li a{
        color: #eeeeee;
    }

    #top ul.menu>li + li:before{
        content: "|\00a0";
        color: #f7f7f7;
        padding: 0px 5px;
    }
}

*/

/*Header style */


.btn-primary{
    color: rgb(255,255,255);
    background: rgb(79,191,168);
    border-color: rgb(65,179,156);
}

#search .navbar-form{
    float: right;
}

#search{
    clear: both; /*?*/
    border-top: solid 1px #9adacd;
    text-align: right;
}

#search .navbar-form .input-group{
    display: table;
}  

#search .navbar-form .input-group .form-control{
    width: 100%;
}

/*Breadcrumb Style*/
.breadcrumb{
    padding: 8px 15px;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5)
}

.breadcrumb>li + li:before{
    content: ">\00a0";
    color: #cccccc
}

@media(max-width: 991px){
    .breadcrumb{
        padding: 8px 0px;
        text-align: center;
    }
}
/*Shopping style*/
hr{
 margin-top: 0px;
}

.right-cart{
    float: right;
    padding-bottom: 20px;
}

.panel {
    margin-bottom: 50px;
}
/* Showroom index style */
.shw-container{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: black;
    line-height: 1.6;
    height: 100vh;
    overflow: scroll;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1{
    font-size: 6rem;
    font-family: 'TitleFont', cursive;
}

section p{
    font-size: 2.5rem;
    font-family: 'ParagFont', cursive;
}

section#Accueil{
    background: url(/Images/Geom.png) no-repeat center center/cover;
}

section#Info {
    background: url('/Images/poing.png') no-repeat center center/cover;
}

section#Contact {
    background: url('/Images/Portablesetfilles.png') no-repeat center center/cover;
}

section .button{
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: black 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    top: 8%;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 0px;
    text-align: center;
  }
.goodalert{
    padding: 20px;
    background-color:green; /* Red */
    color: white;
    margin-bottom: 0px;
    text-align: center;
}

@font-face{
    font-family: 'TitleFont';
    src: url("/Font/Bungee/BungeeLine.eot");
    src: url("/Font/Bungee/BungeeLine.woff2") format('woff2'),
         url("/Font/Bungee/BungeeLine.woff") format('woff'),
         url("/Font/Bungee/BungeeLine.ttf") format('truetype');
    font-style: normal;
}

@font-face{
    font-family: 'ParagFont';
    src: url("/Font/Roboto/Roboto-Regular.eot");
    src: url("/Font/Roboto/Roboto-Regular.woff2") format('woff2'),
         url("/Font/Roboto/Roboto-Regular.woff") format('woff'),
         url("/Font/Roboto/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
}
/*Menu sur le coté style */

.borderMod{
 border-radius: 10%;
}

/*Panier Style*/

